:local(.app) {
  
  header {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: steelblue;
  }

  nav-ul {
    align-content: center;
  }

  main {
    margin: 0% 4% 0% 4%;
  }

  button {
    cursor: pointer;
    margin: 4px;
    font-size: 18px;
    border: 2px solid steelblue;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  button:hover {
      background-color: steelblue; /* Green */
      color: white;
  }

  img {
    width: 100px;
    height: 100px;
  }

  .title {
    color: black;
  }

}